@import "variables";
@import "mixins";

/*TOP BAR STYLES ==== MOBILE FIRST*/
.top-bar{
  background-image: url("../images/top-bar-bg-sm.png");
  height: 107px;
  background-repeat: repeat-x;
}

.brand img{
  width: 255px;
  height: 78px;
  padding-top: 53px;
}

.brand p{
  text-align: center;
}

.slogan span{
display: none;
}
  .top-links{
    display: none;
  }

//////////////////////MEDIA QUERIES/////////////////

@media #{$breakpoint-small} {

  .top-bar{
    background-image: url("../images/top-bar-bg.png");
    height: 81px;
    background-repeat: repeat-x;
  }

  .brand img{
    width: 239px;
    padding-top: 39px;
    margin-left: 54px;


  }
  .brand p{
    text-align: left;
  }



}

@media #{$breakpoint-medium} {
  .top-bar{
    background-image: url("../images/top-bar-bg.png");
    height: 81px;
    background-repeat: repeat-x;
  }

  .brand img{
    width: 239px;
    padding-top: 39px;
    margin-left: 54px;


  }
  .brand p{
    text-align: left;
  }



}


@media #{$breakpoint-large} {
      .top-bar{
        background-image: url("../images/top-bar-bg.png");
        height: 81px;
        background-repeat: repeat-x;
      }

      .brand img{
        width: 239px;
        padding-top: 35px;
        margin-left: 42px;


      }

      .brand p{
        text-align: left;
      }
      .brand{
        display: inline-block;
        float: left;
      }
      .slogan span{
        display: inline-block;
        font-family: 'fords folly',sans-serif;
        font-size: 1.5em;
        color: #eb182c;
        padding-top: 36px;
        padding-left: 15px;
      }

      .top-links{
        display: inline-block;
        float: right;
        padding-top: 23px;
        padding-right: 15px;
      }
      .top-links li{
        padding: 0 7px;

      }


    }
