*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-content {
  background-color: #fff;
  text-align: center;
  padding: 35px 20px;
}

.main-content h1 {
  font-family: 'Sansa Pro', sans-serif;
  font-weight: 700;
  font-size: 1.625em;
  margin-bottom: 20px;
}

.main-content h2 {
  font-family: 'Sansa Pro', sans-serif;
  color: #ed1c2e;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 24px;
  margin-bottom: 20px;
}

.main-content p {
  font-family: verdana, sans-serif;
  color: #333333;
  font-weight: normal;
  font-size: 0.750em;
  line-height: 24px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 48em) {
  .main-content {
    background-color: #fff;
    text-align: center;
    padding: 100px 65px;
    margin-top: -45px;
  }
}
@media only screen and (min-width: 60em) {
  .main-content {
    background-color: #fff;
    text-align: center;
    padding: 100px 65px;
    margin-top: -45px;
  }
}
@media only screen and (min-width: 87.5em) {
  .main-content {
    background-color: #fff;
    text-align: center;
    padding: 100px 240px 67px 240px;
    margin-top: -45px;
  }
}
